

body{
    background: url(back.jpg) ;
}
.barre{
    background: #0a0707;
    width: 90px;
    height: 5px;
    border-radius: 2px;
    margin: 0 auto;
}
.formulaire{
    width: 100%;
    height: 100%;
    padding: 25px;

    align-items: center;

}
.formulaire form{
width: 90%;
height: 100%;
padding: 30px;
border-radius: 25px;
margin: 0 auto;
box-shadow: inset 0 0 2px rgb(17, 17, 16);
background-color:beige;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    text-shadow: 2px 0 0 rgb(240, 165, 26) ;
}

.input {
width: 100%;
height: 30px;
outline: none;
border-radius: 6px;
border: 1px solid #e6e6e6;
}

.buTTon input
{width: 15%;
padding: 8px;
background: #444;
color: #fff;
font-size: 19px;
border: none;
border-radius: 10px;
justify-content: center;
align-items: center;

}
.buTTon input:hover
{
    background:#888 ;
    transition: all .4s ease;

}
